.plus_minus {
  float: right;
}
.toggleContainer {
  padding: 15px;
  display: none;
  transition: all;
}
.hiddenSlide {
  display: none;
  min-height: 428px;
}
/*Buttons*/
.w3-third .w3-margin-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
/*Resume Button*/
.w3-button {
  border-radius: 12px;
  width: 100px;
}
.w3-button:hover{
    color:#A504E5!important;
    background-color:#FEE29F!important
}
#resume {
font-size: 16px;
}
.w3-right{
    float:middle!important
}

.navTab {
  border-radius: 0pc;
}

.button-pos {
 display: flex;
  justify-content: space-evenly;
  text-align:left;
  margin: 6%;
  margin-top: 12%; 
}

/*About*/
.mySlides {
  padding-top: 1%;
  border-bottom: solid #A504E5;
}
/*photo*/
#profile {
  border-radius: 50%;
  height: 25%;
  width: fit-content;
}

.profile {
  text-align: center;
}

.containerHeight {
  min-height: 428px;
  background-color: black;
}
.active {
  display: block;
}
.w3-bar-item{
  font-family: 'Niramit', 'Roboto'; 
}
/*paragraph text in about section*/
.text {
color: #393570;
 display: flex;
 justify-content: flex-start;
 font-size: 22px;
 margin-top: 1%;
 margin-right: 13%;
 margin-left: 20%;
}

/*Headers*/
h1{
color: #A504E5;
font-size: 60px;
margin-top: 1px;
}

h2{
  font-family: 'Niramit', 'Roboto';
  background-color:#FEE29F;
  font-size: 50px;
}
h3 {
  font-family: 'Niramit', 'Roboto';
}

h4{
  text-align: left;
  font-family: 'Niramit', 'Roboto';
}
/*subheader in about section*/
h5 {
  color: #A504E5;
  display: flex;
  justify-content: flex-start;
  font-size: 32px;
  margin-top: 1%;
  margin-right: 13%;
  margin-left: 20%;
}
.containerTitle {
  display: flex;
  justify-content: flex-start;
  margin-left: 18%;
}

p {
  font-family: 'Niramit', 'Roboto';
  display: flex;
  justify-content: space-evenly;
  text-align:left;
  margin: 5%;
  color: #393570;
}

p b {
 color:#A504E5;
}

.w3-container{
  width: 100%;
  bottom: 0;
}
.w3-center{
    text-align:center;
     border: solid red;
}
/*interested in contact section*/
#interested {
color: #A504E5;
font-size: 32px;
}

.x_button {

}
.w3-top {
  z-index:2;

}
/*Contact*/
/*contact icons*/
.fa {
text-align: start;
color: #A504E5; 
}
.content{
  color: #393570;
  font-family: 'Niramit', 'Roboto';
  font-size: 25px;
  text-align: start;
  margin-left: 25%;

}

/*Footer*/
/*small footer text*/
.w3-medium{
    font-size:15px!important;
    color: white;
}

.footer {
  height: 50px;
}